/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
body {
	background-color: #f3f7fa;
}

/* Make container wider */
.container {
  width: calc(100% - 320px);
  max-width: none;
  margin-left: 310px;
  padding-right: 10px;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

header, main, footer {
  padding-left: 300px;
}

header, main, footer {
    padding-left: 0;
}

nav ul a {
  color: #3f4d67;
}

nav ul a:hover {
  background-color: transparent;
  color: #47b2c7;
}

.z-depth-1, nav {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.sidenav {
	background: #3f4d67;
}

.sidenav .user-view {
	height: 200px;
}

.sidenav li > a {
  color: #a9b7d0;
  display: block;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  line-height: 48px;
  padding: 0 32px;
}

.sidenav li > a > i.material-icons {
    color: #a9b7d0;
}

.sidenav li > a:hover, .sidenav li > a > i.material-icons:hover {
  background-color: rgba(0, 0, 0, 0.05);
  color: #47b2c7;
}

.sidenav .subheader {
  color: #c9d4ea;
  font-weight: bold;
  font-size: 95%;
}

.sidenav .collapsible-body,
.sidenav.fixed .collapsible-body {
  border: 0;
  background-color: #3a465e;
}